In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, RobustScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
df = pd.read_csv("../res/houseprice.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
label_encoder = LabelEncoder()
cols = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea', 'furnishingstatus']

for col in cols:
    df[col] = label_encoder.fit_transform(df[col])

df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,2
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,1
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,2
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,2

In [5]:
x = df.drop("price", axis = 1)
x

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,0
1,8960,4,4,4,1,0,0,0,1,3,0,0
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,0
4,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,2
541,2400,3,1,1,0,0,0,0,0,0,0,1
542,3620,2,1,1,1,0,0,0,0,0,0,2
543,2910,3,1,1,0,0,0,0,0,0,0,0
544,3850,3,1,2,1,0,0,0,0,0,0,2

In [6]:
y = df["price"]
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [7]:
scaler = RobustScaler()
x_scaled = scaler.fit_transform(x)
x_scaled

array([[ 1.02173913,  1.        ,  1.        , ...,  2.        ,
         1.        , -0.5       ],
       [ 1.57971014,  1.        ,  3.        , ...,  3.        ,
         0.        , -0.5       ],
       [ 1.94202899,  0.        ,  1.        , ...,  2.        ,
         1.        ,  0.        ],
       ...,
       [-0.35507246, -1.        ,  0.        , ...,  0.        ,
         0.        ,  0.5       ],
       [-0.61231884,  0.        ,  0.        , ...,  0.        ,
         0.        , -0.5       ],
       [-0.27173913,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.5       ]])

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size = 0.2, random_state = 42)

In [44]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [45]:
y_pred = model.predict(x_test)
y_pred

array([5203691.70963177, 7257004.02115475, 3062828.59668172,
       4559591.65374424, 3332932.30559782, 3563080.67918996,
       5645466.3121997 , 6413979.66873635, 2755831.54819001,
       2668938.6607523 , 9570600.29915352, 2827431.50860062,
       3195686.25834091, 3352263.99438472, 3713879.49996132,
       5301088.24435749, 2987920.26669681, 4810799.8212371 ,
       4383031.70489929, 3525092.18938646, 5796259.50068013,
       5840000.702993  , 2760214.608641  , 4762590.14920608,
       5204755.73895205, 7515542.71619022, 3254681.68956383,
       5236164.45964445, 8178523.1682028 , 3434166.1567565 ,
       6443921.58767582, 3346004.77919185, 6742324.74004132,
       4154936.84088665, 3589152.47491253, 5788125.92515323,
       4768370.18154077, 4391684.04193173, 3217657.04549936,
       4638196.61928879, 4522160.27786713, 3541284.06127246,
       7238136.1194117 , 4021515.68926614, 3701978.76822756,
       4298879.55563098, 6705004.0206061 , 3993466.52296897,
       3798185.05328057, 3451821.56242891, 7293996.8686746 ,
       2832905.26972679, 4378698.14769929, 4468002.85418353,
       3714623.89765884, 2718466.9028278 , 7524449.64983625,
       2950437.14952811, 4194596.2859292 , 2795827.77318101,
       4801788.72577029, 3618230.29875973, 5091685.77019751,
       4248122.70647652, 4729964.20281946, 4620982.93634111,
       7215846.76983926, 3485106.19132683, 5933820.14349912,
       6236580.98095547, 4809923.61016   , 5130920.22938947,
       4527282.87392582, 8006869.07208363, 3543927.63713717,
       5463086.05281817, 3902441.28505164, 4661063.63495886,
       4825370.89331733, 4276803.47099967, 7754072.71344458,
       4008573.23235629, 6500977.91345037, 5386796.00909807,
       2785343.00927642, 6836356.36771845, 2638553.49378048,
       3634231.99215349, 8004072.41154   , 8048399.75418243,
       3227573.6968731 , 5935167.41983539, 3605772.48317454,
       3817767.91420863, 7631673.34074556, 4775106.62670537,
       5093491.4444293 , 6447437.14797692, 4943449.6813564 ,
       5943929.14295425, 3810460.26405426, 6457426.32302762,
       3701491.23218179, 5960492.47343074, 4933137.14530295,
       4377133.13624286, 7009335.02696998, 6351460.97128316,
       6409340.4108967 ])

In [46]:
coefficients = model.coef_
intercept = model.intercept_

In [47]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2):", r2)

Mean Squared Error (MSE): 1771751116594.039
Root Mean Squared Error (RMSE): 1331071.4167895121
R-squared (R2): 0.6494754192267795